
@model IEnumerable<ContainerModel>


<p>
    <!---<a asp-page="Create">Create New</a>--->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Container</p>
            </th>
            <th>
                <p>Account ID</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.containerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accountID)
            </td>
            <td>
                @*<a asp-page="./Edit" asp-route-id="@item.containerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.containerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.containerID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
