@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CombinedModel


<div style="display:flex;justify-content:center;align-items:center;">

   <div class="InvTable">
        <p>
            <!---<a asp-page="Create">Create New</a>--->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createContainerModal">
                Create New Container
            </button>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p>Containers</p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @try
                {
                    @foreach (var item in Model.Containers)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-primary" asp-action="InvPage" asp-route-id="@item.containerID">@Html.DisplayFor(modelItem => item.containerName)</a> 
                                
                            </td>
                            <td>
                                <a class="btn" asp-controller="InvView" asp-action="DeleteCon" asp-route-id="@item.containerID">Delete</a> |
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#@item.containerName">
                                    Edit
                                </button>

                                <!-- Edit Container Modal -->
                                <div class="modal fade" id="@item.containerName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Create New Container</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                                @{
                                                    Model.conMod = new ContainerModel();
                                                    Model.conMod.accountID = item.accountID;
                                                    Model.conMod.containerID = item.containerID;
                                                    Model.conMod.containerName = item.containerName;
                                                }
                                              @await Html.PartialAsync("EditContainer", Model.conMod)
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
                                      </div>
                                    </div>
                                  </div>
                                </div>

                            </td>
                        </tr>
                    }
                }catch(Exception e)
                {
                    <tr>
                        <td>
                            No Container Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="spacerHorizontal"></div>
    <div class="InvTable">
        <p>
        <!---<a asp-page="Create">Create New</a>--->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createItemModal">
                Create New Item
            </button>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p>Items</p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @try
                {
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.itemName)
                            </td>
                            <td>
                                <a class="btn" asp-controller="InvView" asp-action="DeleteItem" asp-route-id="@item.itemID">Delete</a> | 
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#@item.itemName">
                                    Edit
                                </button>

                                <!-- Edit Container Modal -->
                                <div class="modal fade" id="@item.itemName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Create New Container</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                                @{
                                                    Model.itemMod = new ItemModel();
                                                    Model.itemMod.itemID = item.itemID;
                                                    Model.itemMod.containerID = item.containerID;
                                                    Model.itemMod.itemName = item.itemName;
                                                }
                                              @await Html.PartialAsync("EditItem", Model.itemMod)
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                            </td>
                        </tr>
                    }
                }catch(Exception e)
                {
                    <tr>
                        <td>
                            No Item Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div style="display:flex;justify-content:center;align-items:center;padding:20px;">
<a class="btn-primary btn" asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>


<!-- Add Item Modal -->
<div class="modal fade" id="createItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @await Html.PartialAsync("AddItem", Model)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


<!-- Add Container Modal -->
<div class="modal fade" id="createContainerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Container</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
              @await Html.PartialAsync("AddContainer", Model.conMod)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

