
@model InvManager.Views.InvView.ItemViewModel

<p>
    <!---<a asp-page="Create">Create New</a>--->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemModel[0].containerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemModel[0].itemName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ItemModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.containerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.itemID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.itemID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.itemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
