
@model IEnumerable<ItemModel>

<p>
    <!---<a asp-page="Create">Create New</a>--->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Container ID</p>
            </th>
            <th>
                <p>Item Name</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.containerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @*<a asp-page="./Edit" asp-route-id="@item.itemID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.itemID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.itemID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
